/.cache
/.curseclient
/crash-reports
/downloads
/ESM
/journeymap
/local
/logs
/minecraftinstance.json
/modernfix
/mods
/options.txt
/patchouli_books
/patchouli_data.json
/profileImage
/resourcepacks
/rhino.local.properties
/saves
/schematics
/shaderpacks
/usercache.json
/usernamecache.json